[submodule "AO2-Client"]
	path = AO2-Client
	url = https://github.com/AttorneyOnline/AO2-Client.git
[submodule "tsuserver3"]
	path = tsuserver3
	url = https://github.com/AttorneyOnline/tsuserver3.git
[submodule "tsuserverCC"]
	path = tsuserverCC
	url = https://github.com/RealKaiser/tsuserverCC.git
[submodule "KFO-Server"]
	path = KFO-Server
	url = https://github.com/Crystalwarrior/KFO-Server.git
